<h1 style="text-align:center">IDEA BOX</h1>

<div class="home container">
  <h2>New idea:</h2>
  <form class="">
    <input id="new-idea-title" type="text" name="name" value="" placeholder="What's your new idea?">
    <input id="new-idea-desc" type="text-field" name="name" value="" placeholder="Describe your new idea!" size=100>
    <input id="submit-new-idea" type="button" name="name" value="Submit">
  </form>

  <h2>The Box:</h2>
  <ul class="ideas">
  </ul>
</div>
