<h1 style="text-align:center">IDEA BOX</h1>

<div class="home container">
  <h2>New idea:</h2>
  <input type="text" name="name" value="">
  <input type="text" name="name" value="">
  <input type="button" name="name" value="Submit">

  <h2>The Box:</h2>
  <ul class="ideas">
  </ul>
</div>
